# Управление виртуальной средой
.venv/
env/

# Компилированные Python файлы
__pycache__/
*.py[cod]

# Логи
*.log

# Файлы IDE
.idea/
.vscode/

# Миграции (опционально, если не хотите их в репозитории)
migrations/

# Разное
*.sqlite3
*.env
